<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000514793970-rvukpn8qamqo4jl9ve4jmqkvcav21n85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000514793970-rvukpn8qamqo4jl9ve4jmqkvcav21n85</string>
	<key>API_KEY</key>
	<string>AIzaSyChwuVOFHdgndrxQPAXbsSXH9AbcAVEWUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1000514793970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phone.ksm.hahalove</string>
	<key>PROJECT_ID</key>
	<string>hahalove-b4d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>hahalove-b4d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000514793970:ios:b20d14fc5589d117117b6b</string>
	<key>DATABASE_URL</key>
	<string>https://hahalove-b4d3b.firebaseio.com</string>
</dict>
</plist>